exclude: '.git|.tox'
default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black", "--filter-files"]
      - id: isort
        name: isort (cython)
        types: [cython]
        args: ["--profile", "black", "--filter-files"]
      - id: isort
        name: isort (pyi)
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
