version: '3.3'

services:
    workstation:
        image: CI_REGISTRY/APP_NAME:CI_COMMIT_TAG
        #restart: on-failure
        volumes:
            - /home/israel:/work
            #- "C:/Users/Israel/work:/work"
        ports:
            - "PORT_JUPYTERLAB:8888"
            - "PORT_STREAMLIT:8501"
            - "PORT_FREE:8000"
