anytree
arrow
begins
black
boltons
colorama
colorlog
cufflinks
cython
dill
fastparquet
floweaver
fuzzywuzzy
ipympl
ipysankeywidget
ipytree
jellyfish
jmespath
jupyter
jupyterlab==2.2.9
jupyterlab_templates
loguru
markdown
matplotlib
matplotlib_venn
nested_lookup
nltk
nodejs
numpy
openpyxl
pandas
pandas-profiling
parsedatetime
passgen
pep8
pingouin
prettytable
psutil
ptpython
pyarrow
python-json-logger
qgrid
requests
rise
scikit-learn
scipy
seaborn
simplejson
spacy
streamlit
surprise
tabulate
tensorly
tqdm
unidecode
watermark
wordcloud
xlrd
xlsxwriter
xlwt
yellowbrick
