streamlit
loguru
passgen
black
colorama
cufflinks
cython
floweaver
ipysankeywidget
jupytemplate
jupyter
jupyterlab
jupyterlab_templates
markdown
matplotlib
matplotlib_venn
nltk
numpy
openpyxl
pandas
pandas-profiling
pingouin
pep8
prettytable
python-json-logger
requests
rise
scikit-learn
scipy
seaborn
surprise
tabulate
tqdm
typing_extensions
unidecode
watermark
xlrd
xlwt
