Cython
Markdown
PrettyTable
RISE
black
colorama
cufflinks
floweaver
ipysankeywidget
jupytemplate
jupyter
jupyterlab
jupyterlab_templates
keras
matplotlib
matplotlib_venn
nltk
numpy
openpyxl
pandas
pandas-profiling
pep8
python-json-logger
requests
scikit-learn
scipy
seaborn
surprise
tabulate
tensorflow
torch
torchtext
tqdm
typing_extensions
unidecode
watermark
xlrd
xlwt