ipympl
ipysankeywidget
ipytree
jmespath
jupyter
jupyter-datatables
jupyterlab
jupyterlab_execute_time
jupyterlab_templates
jupyternotify
markdown
matplotlib
nodejs
seaborn
simplejson
tabulate
tqdm
unidecode
watermark
