#cookiecutter
#fastapi
#tensorly
anytree
arrow
begins
black
boltons
colorama
colorlog
cufflinks
cython
dill
fastparquet
floweaver
fuzzywuzzy
handcalcs
ipympl
ipysankeywidget
ipytree
itables
jellyfish
jmespath
jupyter
jupyter-datatables
jupyterlab==2.2.9
jupyterlab_templates
jupyternotify
loguru
markdown
matplotlib
matplotlib_venn
nested_lookup
nltk
nodejs
numpy
openpyxl
pandas
pandas-profiling
parsedatetime
passgen
pdftotext
pep8
pingouin
prettytable
psutil
ptpython
pyarrow
python-json-logger
python-magic
requests
rise
scikit-learn
scipy
seaborn
simplejson
spacy
streamlit
streamlit-launchpad
surprise
tabulate
tqdm
unidecode
uvicorn
watermark
wordcloud
xlrd
xlsxwriter
xlwt
yellowbrick
howdoi
sh
wikipedia
