ipympl
ipysankeywidget
ipytree
jmespath
jupyter
jupyter-datatables
jupyterlab
jupyterlab_execute_time
jupyterlab_templates
jupyternotify
markdown
matplotlib
nodejs
ollama
openai
python-dotenv
seaborn
simplejson
speedtest-cli
tabulate
tqdm
unidecode
watermark
